<a href="https://colab.research.google.com/github/pavagoud/letsupgrade-AI-ML/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
list1=["nike","addidas","puma","crocs"]
list2=["maruthi","kia","toyota","hyundai"]
print("the elements in list 1 are",list1)
print("the elements in list 2 are",list2)

the elements in list 1 are ['nike', 'addidas', 'puma', 'crocs']
the elements in list 2 are ['maruthi', 'kia', 'toyota', 'hyundai']

In [8]:
num=list1[0]
size=len(list1)
list1[0]=list1[size-1]
list1[size-1]=num
print(list1)

num1=list2[0]
list2[0]=list2[-1]
list2[-1]=num1
print(list2)

['crocs', 'addidas', 'puma', 'nike']
['maruthi', 'kia', 'toyota', 'hyundai']

In [9]:
print("even numbers in between 20 to 40 are")
for i in range(20,41):
  if(i%2==0):
    print(i)

even numbers in between 20 to 40 are
20
22
24
26
28
30
32
34
36
38
40